@charset "UTF-8";
/*
default variables
the default variables are used to set up your basic theme styles like fonts, basc typography, colors, borders, gradients and so on… this variables are used to style all atoms, molecules and organisms.
*/
/* responsive helpers */
/* fonts */
/* typography */
/* colors */
/* theme colors */
/* alerts */
/* gray scales */
/* font colors */
/* background colors */
/* gradients */
/* border */
/* spaces */
/*
default variables
the default variables are used to set up your basic theme styles like fonts, basic typography, colors, borders, gradients and so on… this variables are used to style all atoms, molecules and organisms.
*/
/* responsive helpers */
/* fonts */
/* typography */
/* colors */
/* theme colors */
/* alerts */
/* gray scales */
/* font colors */
/* background colors */
/* gradients */
/* border */
/* spaces */
/* input elements */
/* theme measures */
* {
  -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
  color-adjust: exact !important;
}

html,
body {
  width: 297mm;
}

@page {
  margin: 10mm;
  size: 297mm 420mm;
}
.next-page {
  break-after: page;
}

hr {
  border-bottom: 1px solid #dfe1e5;
}

h3 {
  margin-top: 0;
  font-size: 1.25rem;
}

.modal {
  display: none;
  visibility: hidden;
}

.print-legends .chart-scale-analysis {
  width: auto;
}

.table-raw {
  width: auto;
  margin: 0;
  line-height: 2;
}
.table-raw td {
  padding: 0 24px 0 0;
  border: 0;
}

.filter-option {
  display: inline;
}

.container {
  padding-right: 0;
  padding-left: 0;
}

.flex {
  flex-wrap: nowrap;
}
.flex .tile {
  padding: 48px;
}

.logo {
  display: block;
  float: none;
  width: 300px;
  margin-bottom: 24px;
}
.logo img {
  float: none;
}

.key-number-section {
  display: flex;
  justify-content: space-between;
}
.key-number-section .tile {
  padding-top: 24px;
  padding-right: 0;
  padding-left: 0;
  background: none;
}

.organigram-container {
  padding-right: 0;
  padding-left: 0;
}

.organigram-item-inner {
  page-break-inside: avoid;
  break-inside: avoid-page;
}

.scale .scale-info {
  white-space: normal;
}

.scale-section-compare .scale-section-compare-content {
  padding: 0;
}

.scale-section-compare .scale-group-header.ghost,
.scale-compare .chart-scale-analysis.ghost {
  opacity: 1;
}

.scale-compare .scale-compare-info {
  white-space: normal;
}

.scale-compare.no-subscales {
  margin-left: 30px;
}

.btn.icon.tooltip {
  display: none;
}

.tooltip-dot {
  display: none;
}

/*# sourceMappingURL=print.css.map */
