@font-face {
    font-family: 'SourceSans';
    font-style: normal;
    src: url('../assets/font/source-sans/SourceSansVariable-Roman.otf') format('truetype-variations'),
         url('../assets/font/source-sans/SourceSansVariable-Roman.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSans';
    font-style: italic;
    src: url('../assets/font/source-sans/SourceSansVariable-Italic.otf') format('truetype-variations'),
         url('../assets/font/source-sans/SourceSansVariable-Italic.ttf') format('truetype');
}